body {
  margin: 0;
  font-family:
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
}

code {
  font-family:  sans-serif;
}

::-webkit-scrollbar{
  width: 4px;
}
::-webkit-scrollbar-thumb{
  background: #f00;
  border-radius: 10px;
}
/* #progress{
  position:fixed;
   top:0;
   right: 0;
   width: 10px;
   height: 100%;
   background: linear-gradient(to top, #008aff , #00ffe7);
   animation:animate 5s linear infinite;
}

@keyframes animate {
  0%, 100%{
    filter : hue-rotate(0deg)
  }
  50%{
    filter:hue-rotate(360deg)
  }
}

#progress:before{
  content:"";
  position:absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff , #00ffe7);
  filter: blur(30px);
}
#scrollpath{
  position:fixed;
   top:0;
   right: 0;
   width: 10px;
   height: 100%;
   background: rgba(255,255,255,0.05);
} */